<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
      <button class="btn btn-primary" (click)="openAddClientDialog()">Ajouter</button>
      <button class="btn btn-info" (click)="onExportClick()">Ouvrir un fichier</button>
     <!--  <button class="btn btn-warning" (click)="openUploadFactureDialog()">Extraction facture client</button> -->
      <button class="btn btn-secondary" (click)="openUploadClientsDialog()">Téléverser des clients</button>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group mb-3">
                <form [formGroup]="ClientForm">
                    <label for="clientSelect">Sélectionner un client</label>
                    <select class="form-control" id="clientSelect" formControlName="nomclient" (change)="onClientSelect()">
                        <option *ngFor="let client of uniqueClients" [value]="client.nomclient">
                            {{ client.nomclient }}
                        </option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group mb-3">
                <form [formGroup]="clientForm">
                    <label for="clientSelect">Paiement</label>
                    <select class="form-control" id="clientSelect" formControlName="statut" (change)="onClientSelectByStatut()">
                      <option value="PAYE">PAYE</option>
                      <option value="NON PAYE">NON PAYE</option>
                    </select>
                </form>
              </div>
        </div>
    </div>

      <div class="form-group mb-3">
        <form [formGroup]="clientForme" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label for="clientSelect">Date de début</label>
                        <input id="dateDebut" type="date" formControlName="dateDebut" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="clientSelect">Date de fin</label>
                        <input id="dateFin" type="date" formControlName="dateFin" class="form-control">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </div>
        </form>
      </div>

      <div class="row" *ngIf="user.role === 'ADMIN'">  
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Montant total TTC:</p>
              <h6 class="card-text">{{formatNumberWithSpaces(montantTotalTTC)}}</h6>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Montant total HT:</p>
              <h6 class="card-text">{{formatNumberWithSpaces(montantTotalHT)}}</h6>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Montant total TTC Payé:</p>
              <h6 class="card-text">{{formatNumberWithSpaces(montantTotalTTCPayer)}}</h6>
            </div>
          </div>
        </div>
        <div class="col-2">
            <div class="card">
              <div class="card-body">
                <p class="card-title">Montant total TTC Impayé:</p>
                <h6 class="card-text" id="facturePayee">{{formatNumberWithSpaces(montantTotalTTCImpayer)}}</h6>
              </div>
            </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Montant total HT Payé:</p>
              <h6 class="card-text">{{formatNumberWithSpaces(montantTotalHTPayer)}}</h6>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Montant total HT Impayé:</p>
              <h6 class="card-text" id="factureImpayee">{{formatNumberWithSpaces(montantTotalHTImpayer)}}</h6>
            </div>
          </div>
        </div>
      </div>
  
    <table class="table table-bordered" *ngIf="pagedClients.length">
      <thead class="thead-light">
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Nom du Client</th>
          <th scope="col">N° Facture</th>
          <th scope="col">Date d'Échéance</th>
          <th scope="col">Montant HT</th>
          <th scope="col">Montant TTC</th>
          <th scope="col">Statut</th>
          <th scope="col">Solde</th>
          <th scope="col">Mode de paiement</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let client of pagedClients; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ client.nomclient }}</td>
            <td>{{ client.numeroFacture }}</td>
            <td>{{ client.DateEcheance }}</td>
            <td>{{ formatNumberWithSpaces(client.MontantHT) }}</td>
            <td>{{ formatNumberWithSpaces(client.MontantTTC)  }}</td>
            <td>{{ client.statut }}</td>
            <td>{{ formatNumberWithSpaces(client.solde) }}</td>
            <td>{{ client.modePaiement }}</td>
            <td *ngIf="user.role === 'ADMIN'">
                <button type="button" *ngIf="client.statut === 'NON PAYE'" class="btn btn-danger" id="button_action_document_facture" (click)="openPaiementFactureClient(client.numeroFacture)">Procéder au paiement</button>
                <!-- <button type="button" class="btn btn-info" id="button_action_document_facture">Actif</button> -->
             </td>
          </tr>
    
      </tbody>
    </table>
    <div class="row"  *ngIf="pagedClients.length">
        <div class="col-12">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="clients.length" (pageChange)="updatePagedData()"></ngb-pagination>
        </div>
    </div> 
    <div class="col-4" *ngIf="user.role === 'ADMIN'">
        <button class="btn btn-secondary mt-3" (click)="goBack()">Revenir en arrière</button>
      </div>
  </div>
  
  
  
