.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 20px 0;
  }
  
  .drop-zone.dragover {
    background-color: #f0f0f0;
  }
  
  .file-input {
    display: none;
  }

  #response{
    color: violet;
    text-align: center;
    margin: 10px;
  }

