#invalidInscription{
    margin: 10px;
  }

  #button_action_document_facture{
    margin: 5px;
}
body{
  width: 90%;
}
.paid-row {
  color: #23fb55;
}
#boutonForaction{
  margin-bottom: 5%;
}
#facturePayee{
  color: #0fdd3f;
}
#factureImpayee{
  color: red;
}
.card {
  margin-bottom: 1rem;
}