<div class="container">
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
       <!--  <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button> -->
      </div>
      <div class="img bg-wrap text-center py-4" style="background-image: url();">
        <div class="user-logo">
          <div class="img" style="background-image: url(assets/images/bg_1.jpg);"></div>
          <img src="assets/images/logo_solid.jpg" alt="Description de l'image" width="100px">
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
        <li>
          <a routerLink="/sign-in" class="d-flex align-items-center">
            <mat-icon>login</mat-icon>
            <span class="ms-2">Connexion</span>
          </a>
        </li>
        <li>
          <a routerLink="/register" class="d-flex align-items-center">
            <mat-icon>person_add</mat-icon>
            <span class="ms-2">S'inscrire</span>
          </a>
        </li>        
      </ul>
    </nav>
      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5 col-10 offset-2">
      <h2 class="mb-4">Bienvenue</h2>
      <p>Sur notre application d'extraction de données de factures fournisseur.</p>
      <p>Cliquez <a href="#"> <span>ici</span> </a>  pour voir la procédure</p>
    </div>
  </div>
  <div class="row" id="explain">
    <div class="col-4">
      <div class="row"  style="width: 40%;">
        <img src="assets/images/televerser.jpg" alt="Description de l'image" >
        <h6 class="text-center">Téléverser la facture</h6>
      </div>
    </div>
    <div class="col-4">
      <div class="row" style="width: 45%;">
        <img src="assets/images/extraction.jpg" alt="Description de l'image">
        <h6 class="text-center">Extraction de données</h6>
      </div>
    </div>
    <div class="col-4">
      <div class="row" style="width: 45%;">
        <img src="assets/images/download.png" alt="Description de l'image">
        <h6 class="text-center">Exporter les données</h6>
      </div>
    </div>
</div>
  

</div>