div
{
    padding: 10px;
}

.snackbar-success {
    background-color: #4caf50; /* Couleur de succès */
    color: #fff;
  }
  
  .snackbar-error {
    background-color: #f44336; /* Couleur d'erreur */
    color: #fff;
  }